.bg-register
{
  background-image: url("../../../assets/img/bgRegister.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.register{
  font-size: 150px;
}
