<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Dicono di noi</h5>
        <p>
          "SpotyFilm è una piattaforma dove puoi votare i tuoi film preferiti e aiutarci a curare la migliore collezione per tutti i pirati del cinema.Arrr!"
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#!" class="text-dark">Home</a></li>
          <li><a href="#!" class="text-dark">Accedi</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Seguici</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#" class="text-dark">Facebook</a></li>
          <li><a href="#" class="text-dark">Twitter</a></li>
          <li><a href="#" class="text-dark">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-dark" href="#">spotiFilm.com</a>
  </div>
</footer>
