<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-12 col-md-2 mb-4 mb-md-0 text-center">
        <a routerLink=""><img src="../../../assets/img/logo.png" alt="logo pirati"></a>
      </div>
      <div class="col-12 col-md-6 mb-4 mb-md-0 text-center">
        <h2>Dicono di noi</h2>
        <h3>
          "SpotyFilm è una piattaforma dove puoi votare i tuoi film preferiti e aiutarci a curare la migliore collezione per tutti i pirati del cinema.Arrr!"
        </h3>
      </div>

      <div class="col-12 col-md-2 mb-4 mb-md-0 text-center">
        <h2>Seguici</h2>
        <ul class="list-unstyled mb-0 fs-4">
          <li><a href="#" class="text-dark">Facebook</a></li>
          <li><a href="#" class="text-dark">Twitter</a></li>
          <li><a href="#" class="text-dark">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 fs-3 bg-success">
    © 2024 Copyright:
    <a class="text-dark fs-3" href="#">spotiFilm.com</a>
  </div>
</footer>
