<div class="container-fluid bg d-flex flex-column justify-content-center align-items-center text-center min-vh-100">
  <div class="row flex-column">
    <div class="col-12 col-md-6 mx-auto mb-5 bg-light bg-opacity-75">
      <h1>BENVENUTO SU SPOTYFILM!</h1>
      <h2>Su questa piattaforma, potrai votare i tuoi film preferiti, per permetterci di offrire un servizio di "pirotaggio" migliore.<br>
      A fine mese, i 3 film più votati , verranno messi a disposizione in streaming per tutti i nostri affezionati contrabbandieri!</h2>
    </div>
    <div class="col-12 col-md-6 mx-auto mt-5 text-center">
      <h2 class="bg-light bg-opacity-75 my-5">Canta con noi il nostro inno!!!</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/J0e9UiXbd5o?si=l__-gjZZrt2xxnyS" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
