<div class="container-fluid bg d-flex flex-column justify-content-center align-items-center text-center min-vh-100">
  <h1>BENVENUTO SU SPOTYFILM</h1>
  <h2>Su questa piattaforma, potrai votare i tuoi film preferiti, per permetterci di "pirotare" meglio</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/J0e9UiXbd5o?si=l__-gjZZrt2xxnyS" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe>
</div>

